/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 25, ../sass/teachit-new-theme.styles.scss */
body {
  background-color: #333;
  font-size: 16px;
  font-weight: 300;
  color: #888; }

/* line 32, ../sass/teachit-new-theme.styles.scss */
.l-branding {
  *zoom: 1;
  background-color: #fff; }
  /* line 25, ../sass/variables/_grid.scss */
  .l-branding:before, .l-branding:after {
    content: " ";
    display: table; }
  /* line 30, ../sass/variables/_grid.scss */
  .l-branding:after {
    clear: both; }

/* line 38, ../sass/teachit-new-theme.styles.scss */
.not-front .l-content .node__content .field--name-field-image {
  padding: 0; }
  /* line 40, ../sass/teachit-new-theme.styles.scss */
  .not-front .l-content .node__content .field--name-field-image img {
    width: 100%; }
/* line 47, ../sass/teachit-new-theme.styles.scss */
.not-front .l-content .node__content .field--name-field-title-display .field__item {
  color: #fff;
  font-size: 18px;
  padding-top: 15px; }

/* line 55, ../sass/teachit-new-theme.styles.scss */
.breadcrumb {
  display: none; }

/* line 57, ../sass/teachit-new-theme.styles.scss */
.wrapper, .row {
  *zoom: 1; }
  /* line 25, ../sass/variables/_grid.scss */
  .wrapper:before, .wrapper:after, .row:before, .row:after {
    content: " ";
    display: table; }
  /* line 30, ../sass/variables/_grid.scss */
  .wrapper:after, .row:after {
    clear: both; }

/* line 61, ../sass/teachit-new-theme.styles.scss */
.wrap-content {
  margin-bottom: 5px; }

/* line 65, ../sass/teachit-new-theme.styles.scss */
.wrap-grid-content .content .bg {
  border-radius: 0; }
  /* line 67, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content .bg .bg-img {
    border-radius: 0; }

/* line 72, ../sass/teachit-new-theme.styles.scss */
.block--teachit-config-grid-content {
  margin-top: 5px; }

/* line 76, ../sass/teachit-new-theme.styles.scss */
.block--md-slider {
  margin-bottom: 5px; }

/* line 80, ../sass/teachit-new-theme.styles.scss */
.site-logo {
  width: 82.97872%;
  float: left;
  margin-right: -100%;
  margin-left: 8.51064%;
  clear: none;
  padding: 10px;
  text-align: center; }

/* line 86, ../sass/teachit-new-theme.styles.scss */
.l-region--branding {
  width: 6.38298%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  margin-top: 40px; }

/* line 91, ../sass/teachit-new-theme.styles.scss */
.tb-megamenu .nav-collapse {
  width: 200px; }

/* line 95, ../sass/teachit-new-theme.styles.scss */
#block-block-3 {
  padding: 60px 0; }

/* line 99, ../sass/teachit-new-theme.styles.scss */
.l-footer {
  margin-bottom: 5px; }
  /* line 101, ../sass/teachit-new-theme.styles.scss */
  .l-footer .block--block-4 {
    padding: 5px; }
  /* line 105, ../sass/teachit-new-theme.styles.scss */
  .l-footer .block--block-5 {
    padding: 5px; }
  /* line 109, ../sass/teachit-new-theme.styles.scss */
  .l-footer .block--formblock-contact-site {
    padding: 5px; }

/* line 114, ../sass/teachit-new-theme.styles.scss */
.tb-megamenu .nav-collapse .nav > li > a {
  text-decoration: none; }

/* line 118, ../sass/teachit-new-theme.styles.scss */
.tb-megamenu .nav-collapse .nav > li > a:hover {
  color: #fff; }

/* line 123, ../sass/teachit-new-theme.styles.scss */
#screen {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 900; }

/* line 136, ../sass/teachit-new-theme.styles.scss */
.l-content h1 {
  display: none; }

/* line 140, ../sass/teachit-new-theme.styles.scss */
.l-footer {
  background-color: #222;
  *zoom: 1; }
  /* line 25, ../sass/variables/_grid.scss */
  .l-footer:before, .l-footer:after {
    content: " ";
    display: table; }
  /* line 30, ../sass/variables/_grid.scss */
  .l-footer:after {
    clear: both; }

/* line 145, ../sass/teachit-new-theme.styles.scss */
.l-end-page {
  background-color: #464646;
  padding: 30px 0 15px 0; }

/* line 152, ../sass/teachit-new-theme.styles.scss */
.dexp-social-icon {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  background: #999999;
  color: #888888;
  border: 0px;
  line-height: 40px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  display: inline-block;
  text-align: center; }

/* line 170, ../sass/teachit-new-theme.styles.scss */
.dexp-social-icon:hover i {
  color: #fff; }

/* line 173, ../sass/teachit-new-theme.styles.scss */
.dexp-social-icon.dexp-social-transparent {
  background: transparent;
  color: #444444;
  border: 1px solid #444444;
  width: 39px;
  height: 39px;
  line-height: 39px; }

/* line 181, ../sass/teachit-new-theme.styles.scss */
.dexp-social-icon.dexp-social-transparent:hover {
  background: #444444; }

/* line 184, ../sass/teachit-new-theme.styles.scss */
.dexp-social-icon.dexp-social-transparent:hover i {
  color: #ffffff; }

/* line 187, ../sass/teachit-new-theme.styles.scss */
.dexp-social-light,
.dexp-social-hover-light:hover {
  background: #dddddd; }

/* line 191, ../sass/teachit-new-theme.styles.scss */
.dexp-social-light i,
.dexp-social-hover-light:hover i {
  color: #999999; }

/* line 195, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dark,
.dexp-social-hover-dark:hover {
  background: #999999; }

/* line 199, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dark i,
.dexp-social-hover-dark:hover i {
  color: #ffffff; }

/* line 203, ../sass/teachit-new-theme.styles.scss */
.dexp-social-twitter,
.dexp-social-hover-twitter:hover {
  background: #54afe2; }

/* line 207, ../sass/teachit-new-theme.styles.scss */
.dexp-social-twitter i,
.dexp-social-hover-twitter:hover i {
  color: #ffffff; }

/* line 211, ../sass/teachit-new-theme.styles.scss */
.dexp-social-facebook,
.dexp-social-hover-facebook:hover {
  background: #4671ad; }

/* line 215, ../sass/teachit-new-theme.styles.scss */
.dexp-social-facebook i,
.dexp-social-hover-facebook:hover i {
  color: #ffffff; }

/* line 219, ../sass/teachit-new-theme.styles.scss */
.dexp-social-linkedin,
.dexp-social-hover-linkedin:hover {
  background: #64abcc; }

/* line 223, ../sass/teachit-new-theme.styles.scss */
.dexp-social-linkedin i,
.dexp-social-hover-linkedin:hover i {
  color: #ffffff; }

/* line 227, ../sass/teachit-new-theme.styles.scss */
.dexp-social-google,
.dexpoe-social-hover-google:hover {
  background: #dc4a38; }

/* line 231, ../sass/teachit-new-theme.styles.scss */
.dexp-social-google i,
.dexpoe-social-hover-google:hover i {
  color: #ffffff; }

/* line 235, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dribbble,
.dexp-social-hover-dribbble:hover {
  background: #d64d74; }

/* line 239, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dribbble i,
.dexp-social-hover-dribbble:hover i {
  color: #ffffff; }

/* line 243, ../sass/teachit-new-theme.styles.scss */
.dexp-social-skype,
.dexp-social-hover-skype:hover {
  background: #00c6ff; }

/* line 247, ../sass/teachit-new-theme.styles.scss */
.dexp-social-skype i,
.dexp-social-hover-skype:hover i {
  color: #ffffff; }

/* line 251, ../sass/teachit-new-theme.styles.scss */
.dexp-social-behance,
.dexp-social-hover-behance:hover {
  background: #0099fd; }

/* line 255, ../sass/teachit-new-theme.styles.scss */
.dexp-social-behance i,
.dexp-social-hover-behance:hover i {
  color: #ffffff; }

/* line 259, ../sass/teachit-new-theme.styles.scss */
.dexp-social-deviantart,
.dexp-social-hover-deviantart:hover {
  background: #c7d419; }

/* line 263, ../sass/teachit-new-theme.styles.scss */
.dexp-social-deviantart i,
.dexp-social-hover-deviantart:hover i {
  color: #ffffff; }

/* line 267, ../sass/teachit-new-theme.styles.scss */
.dexp-social-tumblr,
.dexp-social-hover-tumblr:hover {
  background: #385874; }

/* line 271, ../sass/teachit-new-theme.styles.scss */
.dexp-social-tumblr i,
.dexp-social-hover-tumblr:hover i {
  color: #ffffff; }

/* line 275, ../sass/teachit-new-theme.styles.scss */
.dexp-social-rss,
.dexp-social-hover-rss:hover {
  background: #fe9900; }

/* line 279, ../sass/teachit-new-theme.styles.scss */
.dexp-social-rss i,
.dexp-social-hover-rss:hover i {
  color: #ffffff; }

/* line 283, ../sass/teachit-new-theme.styles.scss */
.dexp-social-vimeo,
.dexp-social-hover-vimeo:hover {
  background: #a6caea; }

/* line 287, ../sass/teachit-new-theme.styles.scss */
.dexp-social-vimeo i,
.dexp-social-hover-vimeo:hover i {
  color: #ffffff; }

/* line 291, ../sass/teachit-new-theme.styles.scss */
.dexp-social-pinterest,
.dexp-social-hover-pinterest:hover {
  background: #ce2027; }

/* line 295, ../sass/teachit-new-theme.styles.scss */
.dexp-social-pinterest i,
.dexp-social-hover-pinterest:hover i {
  color: #ffffff; }

/* line 299, ../sass/teachit-new-theme.styles.scss */
.dexp-social-flickr,
.dexp-social-hover-flickr:hover {
  background: #f4789b; }

/* line 303, ../sass/teachit-new-theme.styles.scss */
.dexp-social-flickr i,
.dexp-social-hover-flickr:hover i {
  color: #ffffff; }

/* line 307, ../sass/teachit-new-theme.styles.scss */
.dexp-social-youtube,
.dexp-social-hover-youtube:hover {
  background: #e70031; }

/* line 311, ../sass/teachit-new-theme.styles.scss */
.dexp-social-youtube i,
.dexp-social-hover-youtube:hover i {
  color: #ffffff; }

/* line 315, ../sass/teachit-new-theme.styles.scss */
.dexp-social-instagram,
.dexp-social-hover-instagram:hover {
  background: #2c6a91; }

/* line 319, ../sass/teachit-new-theme.styles.scss */
.dexp-social-instagram i,
.dexp-social-hover-instagram:hover i {
  color: #ffffff; }

/* line 323, ../sass/teachit-new-theme.styles.scss */
.dexp-social-apple,
.dexp-social-hover-apple:hover {
  background: #5f5f5f; }

/* line 327, ../sass/teachit-new-theme.styles.scss */
.dexp-social-apple i,
.dexp-social-hover-apple:hover i {
  color: #ffffff; }

/* line 331, ../sass/teachit-new-theme.styles.scss */
.dexp-reflect .dexp-social-transparent,
.dexp-reflect-bg .dexp-social-transparent {
  background: transparent;
  border: 1px solid #ffffff; }

/* line 336, ../sass/teachit-new-theme.styles.scss */
.dexp-reflect .dexp-social-transparent i,
.dexp-reflect-bg .dexp-social-transparent i {
  color: #ffffff; }

/* line 340, ../sass/teachit-new-theme.styles.scss */
.dexp-reflect .dexp-social-transparent:hover,
.dexp-reflect-bg .dexp-social-transparent:hover {
  background: #ffffff; }

/* line 344, ../sass/teachit-new-theme.styles.scss */
.dexp-reflect .dexp-social-transparent:hover i,
.dexp-reflect-bg .dexp-social-transparent:hover i {
  color: #444444; }

/* line 348, ../sass/teachit-new-theme.styles.scss */
.dexp-social-group-nospace .dexp-social {
  margin-right: -4px; }

/* line 351, ../sass/teachit-new-theme.styles.scss */
.oe-social-group-smallspace .dexp-social {
  margin-right: -3px; }

/* line 354, ../sass/teachit-new-theme.styles.scss */
.dexp-social-group-largespace .dexp-social {
  margin-right: 8px; }

/* line 357, ../sass/teachit-new-theme.styles.scss */
div[class*="preset-dark"] {
  background-color: #444444;
  color: #cccccc;
  text-shadow: 0 0 0 rgba(204, 204, 204, 0.1);
  padding: 50px 0; }

/* line 363, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dark-bg {
  background: transparent;
  border: 1px solid #555; }

/* line 367, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dark-bg i {
  color: #ffffff; }

/* line 370, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dark-bg:hover {
  background: #ffffff; }

/* line 373, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dark-bg:hover i {
  color: #444444; }

/* line 377, ../sass/teachit-new-theme.styles.scss */
#contact-site-form label {
  margin-bottom: 5px; }

/* line 380, ../sass/teachit-new-theme.styles.scss */
.contact-info ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 385, ../sass/teachit-new-theme.styles.scss */
.contact-info ul li {
  list-style-type: none;
  line-height: 40px; }

/* line 390, ../sass/teachit-new-theme.styles.scss */
.contact-info ul li a {
  color: #666666;
  text-decoration: none; }
  /* line 393, ../sass/teachit-new-theme.styles.scss */
  .contact-info ul li a:hover {
    color: #444444; }

/* line 399, ../sass/teachit-new-theme.styles.scss */
.contact-info ul li span {
  color: #888; }

/* line 402, ../sass/teachit-new-theme.styles.scss */
.contact-info ul li i {
  width: 30px;
  text-align: center;
  margin-right: 20px; }

/* line 407, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-submit {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #333; }

/* line 424, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-type-textarea,
#contact-site-form--2 .form-type-textarea {
  clear: both; }

/* line 428, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-item-name,
#contact-site-form--2 .form-item-name {
  text-align: left; }

/* line 432, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-type-textfield,
#contact-site-form--2 .form-type-textfield {
  width: 33.3%;
  float: left; }

/* line 438, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-item-subject input,
#contact-site-form--2 .form-item-subject input {
  width: 95%; }

/* line 442, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-item-subject label,
#contact-site-form--2 .form-item-subject label {
  text-align: left; }

/* line 446, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-type-textfield input,
#contact-site-form--2 .form-type-textfield input {
  width: 90%; }

@media (max-width: 480px) {
  /* line 451, ../sass/teachit-new-theme.styles.scss */
  #contact-site-form .form-type-textfield,
  #contact-site-form--2 .form-type-textfield {
    width: 100%;
    float: left; }

  /* line 456, ../sass/teachit-new-theme.styles.scss */
  #contact-site-form .form-type-textfield input,
  #contact-site-form--2 .form-type-textfield input {
    width: 100%;
    height: 35px; } }
/* line 462, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-item-copy,
#contact-site-form--2 .form-item-copy {
  margin-bottom: 0; }

/* line 466, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-actions,
#contact-site-form--2 .form-actions {
  margin-top: 15px !important; }

/* line 470, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .grippie,
#contact-site-form--2 .grippie {
  display: none; }

/* line 474, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-type-textarea textarea,
#contact-site-form--2 .form-type-textarea textarea {
  height: 115px;
  min-height: 115px !important; }

/* line 479, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-required,
#contact-site-form--2 .form-required {
  display: none; }

/* line 483, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-item-copy input,
#contact-site-form--2 .form-item-copy input {
  margin-top: 0; }

/* line 487, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-item.form-type-textfield input,
#contact-site-form .form-item.form-type-textarea textarea,
#contact-site-form--2 .form-item.form-type-textfield input,
#contact-site-form--2 .form-item.form-type-textarea textarea {
  padding: 10px;
  font-size: 12px; }

/* line 494, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-type-checkbox,
#contact-site-form--2 .form-type-checkbox {
  display: none; }

/* line 499, ../sass/teachit-new-theme.styles.scss */
select,
textarea,
input[type="text"],
input[type="password"] {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #555 !important;
  border-radius: 0;
  box-shadow: none;
  color: #999;
  display: inline-block;
  line-height: 25px;
  margin-bottom: 15px;
  padding: 10px;
  resize: none;
  transition: all 0.3s ease 0s;
  vertical-align: middle; }

/* line 519, ../sass/teachit-new-theme.styles.scss */
.l-end-page {
  background-color: #464646;
  padding: 30px 0 15px 0; }

/* line 523, ../sass/teachit-new-theme.styles.scss */
.l-end-page .region-copyright,
.l-end-page .region-copyright a {
  color: #CCC; }

/* line 527, ../sass/teachit-new-theme.styles.scss */
.l-end-page #block-menu-menu-footer-menu ul:not(.contextual-links) {
  list-style: none;
  text-align: center;
  margin-top: 10px;
  padding: 0; }

/* line 533, ../sass/teachit-new-theme.styles.scss */
.l-end-page #block-menu-menu-footer-menu ul:not(.contextual-links) li {
  list-style-type: none;
  display: inline-block;
  margin-right: 7px; }

/* line 538, ../sass/teachit-new-theme.styles.scss */
.l-end-page #block-menu-menu-footer-menu ul:not(.contextual-links) li a {
  color: #FFF;
  text-decoration: none;
  font-size: 14px; }

/* line 545, ../sass/teachit-new-theme.styles.scss */
.block--block-6 p {
  font-size: 14px;
  color: #d7d7d7;
  line-height: 20px;
  margin: 0;
  text-align: center; }

/* line 761, ../sass/teachit-new-theme.styles.scss */
.wrap-grid-content {
  *zoom: 1; }
  /* line 25, ../sass/variables/_grid.scss */
  .wrap-grid-content:before, .wrap-grid-content:after {
    content: " ";
    display: table; }
  /* line 30, ../sass/variables/_grid.scss */
  .wrap-grid-content:after {
    clear: both; }
  /* line 763, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content {
    position: relative;
    background-color: #000; }

/* line 769, ../sass/teachit-new-theme.styles.scss */
.mbYTP_wrapper .YTPOverlay {
  background-color: rgba(0, 0, 0, 0.4); }

/* line 773, ../sass/teachit-new-theme.styles.scss */
.bg-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 2; }

/* line 789, ../sass/teachit-new-theme.styles.scss */
.wrap-grid-content .content {
  width: 100%;
  height: 100%; }
  /* line 794, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content:hover .bg-img {
    opacity: 0.9; }
  /* line 799, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px #000;
    box-shadow: 0 1px 2px #000;
    overflow: hidden; }
  /* line 810, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content .overlay {
    width: 100%;
    height: 100%; }
    /* line 813, ../sass/teachit-new-theme.styles.scss */
    .wrap-grid-content .content .overlay .copy {
      position: absolute;
      bottom: 20px;
      margin-right: 25px;
      z-index: 4; }
      /* line 818, ../sass/teachit-new-theme.styles.scss */
      .wrap-grid-content .content .overlay .copy .title {
        float: left;
        clear: both;
        margin: 0;
        font-size: 15px; }
        /* line 823, ../sass/teachit-new-theme.styles.scss */
        .wrap-grid-content .content .overlay .copy .title a {
          display: block;
          float: left;
          padding: 9px 14px 12px 13px;
          text-decoration: none;
          color: #fff;
          background-color: #dc2828;
          background-color: rgba(220, 40, 40, 0.85); }
      /* line 834, ../sass/teachit-new-theme.styles.scss */
      .wrap-grid-content .content .overlay .copy .title:hover a {
        background-color: #dc2828; }
      /* line 837, ../sass/teachit-new-theme.styles.scss */
      .wrap-grid-content .content .overlay .copy .cta {
        float: left;
        clear: both;
        margin: 0;
        overflow: hidden;
        font-size: 11px;
        font-family: "SST W01 Bold", "SST W01", Helvetica, Arial, sans-serif;
        text-transform: uppercase; }
        /* line 845, ../sass/teachit-new-theme.styles.scss */
        .wrap-grid-content .content .overlay .copy .cta a {
          display: block;
          float: left;
          padding: 9px 14px 12px 13px;
          text-decoration: none;
          color: #222222;
          background-color: #ffffff;
          background-color: rgba(255, 255, 255, 0.9); }
      /* line 855, ../sass/teachit-new-theme.styles.scss */
      .wrap-grid-content .content .overlay .copy .cta:hover a {
        background-color: white; }
    /* line 860, ../sass/teachit-new-theme.styles.scss */
    .wrap-grid-content .content .overlay .source {
      position: absolute;
      top: 8px;
      right: 8px;
      margin: 0;
      z-index: 4; }
    /* line 868, ../sass/teachit-new-theme.styles.scss */
    .wrap-grid-content .content .overlay .play {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      margin: -25px 0 0 -25px;
      border-radius: 50%;
      background-color: #c0c0c0;
      background-color: rgba(192, 192, 192, 0.8);
      z-index: 4; }
    /* line 882, ../sass/teachit-new-theme.styles.scss */
    .wrap-grid-content .content .overlay .play {
      background-color: #dc2828;
      background-color: rgba(220, 40, 40, 0.8); }
    /* line 887, ../sass/teachit-new-theme.styles.scss */
    .wrap-grid-content .content .overlay .play a {
      width: 100%;
      height: 100%;
      background-image: url(/sites/default/files/arrow-play.svg);
      background-position: 22px center;
      background-repeat: no-repeat;
      -webkit-background-size: 12px 18px;
      background-size: 12px 18px;
      text-indent: -9999px;
      display: block;
      webkit-transition: background-color 0.25s linear,border-color 0.25s linear,opacity 0.25s linear,color 0.25s linear,fill 0.25s linear;
      transition: background-color 0.25s linear,border-color 0.25s linear,opacity 0.25s linear,color 0.25s linear,fill 0.25s linear;
      cursor: pointer; }
    /* line 902, ../sass/teachit-new-theme.styles.scss */
    .wrap-grid-content .content .overlay .play:hover {
      background-color: #dc3a3a;
      background-color: rgba(220, 40, 40, 0.99);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
  /* line 913, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100.5%;
    border: none;
    overflow: hidden;
    z-index: 1; }
  /* line 926, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content iframe.active {
    z-index: 901; }

/*# sourceMappingURL=teachit-new-theme.no-query.css.map */
