/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 25, ../sass/teachit-new-theme.styles.scss */
body {
  background-color: #333;
  font-size: 16px;
  font-weight: 300; }

/* line 31, ../sass/teachit-new-theme.styles.scss */
.l-branding {
  *zoom: 1;
  background-color: #fff; }
  /* line 25, ../sass/variables/_grid.scss */
  .l-branding:before, .l-branding:after {
    content: " ";
    display: table; }
  /* line 30, ../sass/variables/_grid.scss */
  .l-branding:after {
    clear: both; }

/* line 36, ../sass/teachit-new-theme.styles.scss */
.wrapper, .row {
  *zoom: 1; }
  /* line 25, ../sass/variables/_grid.scss */
  .wrapper:before, .wrapper:after, .row:before, .row:after {
    content: " ";
    display: table; }
  /* line 30, ../sass/variables/_grid.scss */
  .wrapper:after, .row:after {
    clear: both; }

/* line 40, ../sass/teachit-new-theme.styles.scss */
.wrap-content {
  margin-bottom: 5px; }

/* line 44, ../sass/teachit-new-theme.styles.scss */
.wrap-grid-content .content .bg {
  border-radius: 0; }
  /* line 46, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content .bg .bg-img {
    border-radius: 0; }

/* line 51, ../sass/teachit-new-theme.styles.scss */
.block--teachit-config-grid-content {
  margin-top: 5px; }

/* line 55, ../sass/teachit-new-theme.styles.scss */
.block--md-slider {
  margin-bottom: 5px; }

/* line 59, ../sass/teachit-new-theme.styles.scss */
.site-logo {
  width: 82.97872%;
  float: left;
  margin-right: -100%;
  margin-left: 8.51064%;
  clear: none;
  padding: 10px;
  text-align: center; }

/* line 65, ../sass/teachit-new-theme.styles.scss */
.l-region--branding {
  width: 6.38298%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  margin-top: 40px; }

/* line 70, ../sass/teachit-new-theme.styles.scss */
.tb-megamenu .nav-collapse {
  width: 200px; }

/* line 74, ../sass/teachit-new-theme.styles.scss */
#block-block-3 {
  padding: 60px 0; }

/* line 78, ../sass/teachit-new-theme.styles.scss */
.l-footer {
  margin-bottom: 5px; }
  /* line 80, ../sass/teachit-new-theme.styles.scss */
  .l-footer .block--block-4 {
    padding: 5px; }
  /* line 84, ../sass/teachit-new-theme.styles.scss */
  .l-footer .block--block-5 {
    padding: 5px; }
  /* line 88, ../sass/teachit-new-theme.styles.scss */
  .l-footer .block--formblock-contact-site {
    padding: 5px; }

/* line 93, ../sass/teachit-new-theme.styles.scss */
#screen {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 900; }

/* line 106, ../sass/teachit-new-theme.styles.scss */
.l-content h1 {
  display: none; }

/* line 110, ../sass/teachit-new-theme.styles.scss */
.l-footer {
  background-color: #222;
  color: #d7d7d7;
  *zoom: 1; }
  /* line 25, ../sass/variables/_grid.scss */
  .l-footer:before, .l-footer:after {
    content: " ";
    display: table; }
  /* line 30, ../sass/variables/_grid.scss */
  .l-footer:after {
    clear: both; }

/* line 116, ../sass/teachit-new-theme.styles.scss */
.l-end-page {
  background-color: #464646;
  padding: 30px 0 15px 0; }

/* line 123, ../sass/teachit-new-theme.styles.scss */
.dexp-social-icon {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  background: #999999;
  color: #888888;
  border: 0px;
  line-height: 40px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  display: inline-block;
  text-align: center; }

/* line 141, ../sass/teachit-new-theme.styles.scss */
.dexp-social-icon:hover i {
  color: #fff; }

/* line 144, ../sass/teachit-new-theme.styles.scss */
.dexp-social-icon.dexp-social-transparent {
  background: transparent;
  color: #444444;
  border: 1px solid #444444;
  width: 39px;
  height: 39px;
  line-height: 39px; }

/* line 152, ../sass/teachit-new-theme.styles.scss */
.dexp-social-icon.dexp-social-transparent:hover {
  background: #444444; }

/* line 155, ../sass/teachit-new-theme.styles.scss */
.dexp-social-icon.dexp-social-transparent:hover i {
  color: #ffffff; }

/* line 158, ../sass/teachit-new-theme.styles.scss */
.dexp-social-light,
.dexp-social-hover-light:hover {
  background: #dddddd; }

/* line 162, ../sass/teachit-new-theme.styles.scss */
.dexp-social-light i,
.dexp-social-hover-light:hover i {
  color: #999999; }

/* line 166, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dark,
.dexp-social-hover-dark:hover {
  background: #999999; }

/* line 170, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dark i,
.dexp-social-hover-dark:hover i {
  color: #ffffff; }

/* line 174, ../sass/teachit-new-theme.styles.scss */
.dexp-social-twitter,
.dexp-social-hover-twitter:hover {
  background: #54afe2; }

/* line 178, ../sass/teachit-new-theme.styles.scss */
.dexp-social-twitter i,
.dexp-social-hover-twitter:hover i {
  color: #ffffff; }

/* line 182, ../sass/teachit-new-theme.styles.scss */
.dexp-social-facebook,
.dexp-social-hover-facebook:hover {
  background: #4671ad; }

/* line 186, ../sass/teachit-new-theme.styles.scss */
.dexp-social-facebook i,
.dexp-social-hover-facebook:hover i {
  color: #ffffff; }

/* line 190, ../sass/teachit-new-theme.styles.scss */
.dexp-social-linkedin,
.dexp-social-hover-linkedin:hover {
  background: #64abcc; }

/* line 194, ../sass/teachit-new-theme.styles.scss */
.dexp-social-linkedin i,
.dexp-social-hover-linkedin:hover i {
  color: #ffffff; }

/* line 198, ../sass/teachit-new-theme.styles.scss */
.dexp-social-google,
.dexpoe-social-hover-google:hover {
  background: #dc4a38; }

/* line 202, ../sass/teachit-new-theme.styles.scss */
.dexp-social-google i,
.dexpoe-social-hover-google:hover i {
  color: #ffffff; }

/* line 206, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dribbble,
.dexp-social-hover-dribbble:hover {
  background: #d64d74; }

/* line 210, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dribbble i,
.dexp-social-hover-dribbble:hover i {
  color: #ffffff; }

/* line 214, ../sass/teachit-new-theme.styles.scss */
.dexp-social-skype,
.dexp-social-hover-skype:hover {
  background: #00c6ff; }

/* line 218, ../sass/teachit-new-theme.styles.scss */
.dexp-social-skype i,
.dexp-social-hover-skype:hover i {
  color: #ffffff; }

/* line 222, ../sass/teachit-new-theme.styles.scss */
.dexp-social-behance,
.dexp-social-hover-behance:hover {
  background: #0099fd; }

/* line 226, ../sass/teachit-new-theme.styles.scss */
.dexp-social-behance i,
.dexp-social-hover-behance:hover i {
  color: #ffffff; }

/* line 230, ../sass/teachit-new-theme.styles.scss */
.dexp-social-deviantart,
.dexp-social-hover-deviantart:hover {
  background: #c7d419; }

/* line 234, ../sass/teachit-new-theme.styles.scss */
.dexp-social-deviantart i,
.dexp-social-hover-deviantart:hover i {
  color: #ffffff; }

/* line 238, ../sass/teachit-new-theme.styles.scss */
.dexp-social-tumblr,
.dexp-social-hover-tumblr:hover {
  background: #385874; }

/* line 242, ../sass/teachit-new-theme.styles.scss */
.dexp-social-tumblr i,
.dexp-social-hover-tumblr:hover i {
  color: #ffffff; }

/* line 246, ../sass/teachit-new-theme.styles.scss */
.dexp-social-rss,
.dexp-social-hover-rss:hover {
  background: #fe9900; }

/* line 250, ../sass/teachit-new-theme.styles.scss */
.dexp-social-rss i,
.dexp-social-hover-rss:hover i {
  color: #ffffff; }

/* line 254, ../sass/teachit-new-theme.styles.scss */
.dexp-social-vimeo,
.dexp-social-hover-vimeo:hover {
  background: #a6caea; }

/* line 258, ../sass/teachit-new-theme.styles.scss */
.dexp-social-vimeo i,
.dexp-social-hover-vimeo:hover i {
  color: #ffffff; }

/* line 262, ../sass/teachit-new-theme.styles.scss */
.dexp-social-pinterest,
.dexp-social-hover-pinterest:hover {
  background: #ce2027; }

/* line 266, ../sass/teachit-new-theme.styles.scss */
.dexp-social-pinterest i,
.dexp-social-hover-pinterest:hover i {
  color: #ffffff; }

/* line 270, ../sass/teachit-new-theme.styles.scss */
.dexp-social-flickr,
.dexp-social-hover-flickr:hover {
  background: #f4789b; }

/* line 274, ../sass/teachit-new-theme.styles.scss */
.dexp-social-flickr i,
.dexp-social-hover-flickr:hover i {
  color: #ffffff; }

/* line 278, ../sass/teachit-new-theme.styles.scss */
.dexp-social-youtube,
.dexp-social-hover-youtube:hover {
  background: #e70031; }

/* line 282, ../sass/teachit-new-theme.styles.scss */
.dexp-social-youtube i,
.dexp-social-hover-youtube:hover i {
  color: #ffffff; }

/* line 286, ../sass/teachit-new-theme.styles.scss */
.dexp-social-instagram,
.dexp-social-hover-instagram:hover {
  background: #2c6a91; }

/* line 290, ../sass/teachit-new-theme.styles.scss */
.dexp-social-instagram i,
.dexp-social-hover-instagram:hover i {
  color: #ffffff; }

/* line 294, ../sass/teachit-new-theme.styles.scss */
.dexp-social-apple,
.dexp-social-hover-apple:hover {
  background: #5f5f5f; }

/* line 298, ../sass/teachit-new-theme.styles.scss */
.dexp-social-apple i,
.dexp-social-hover-apple:hover i {
  color: #ffffff; }

/* line 302, ../sass/teachit-new-theme.styles.scss */
.dexp-reflect .dexp-social-transparent,
.dexp-reflect-bg .dexp-social-transparent {
  background: transparent;
  border: 1px solid #ffffff; }

/* line 307, ../sass/teachit-new-theme.styles.scss */
.dexp-reflect .dexp-social-transparent i,
.dexp-reflect-bg .dexp-social-transparent i {
  color: #ffffff; }

/* line 311, ../sass/teachit-new-theme.styles.scss */
.dexp-reflect .dexp-social-transparent:hover,
.dexp-reflect-bg .dexp-social-transparent:hover {
  background: #ffffff; }

/* line 315, ../sass/teachit-new-theme.styles.scss */
.dexp-reflect .dexp-social-transparent:hover i,
.dexp-reflect-bg .dexp-social-transparent:hover i {
  color: #444444; }

/* line 319, ../sass/teachit-new-theme.styles.scss */
.dexp-social-group-nospace .dexp-social {
  margin-right: -4px; }

/* line 322, ../sass/teachit-new-theme.styles.scss */
.oe-social-group-smallspace .dexp-social {
  margin-right: -3px; }

/* line 325, ../sass/teachit-new-theme.styles.scss */
.dexp-social-group-largespace .dexp-social {
  margin-right: 8px; }

/* line 328, ../sass/teachit-new-theme.styles.scss */
div[class*="preset-dark"] {
  background-color: #444444;
  color: #cccccc;
  text-shadow: 0 0 0 rgba(204, 204, 204, 0.1);
  padding: 50px 0; }

/* line 334, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dark-bg {
  background: transparent;
  border: 1px solid #555; }

/* line 338, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dark-bg i {
  color: #ffffff; }

/* line 341, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dark-bg:hover {
  background: #ffffff; }

/* line 344, ../sass/teachit-new-theme.styles.scss */
.dexp-social-dark-bg:hover i {
  color: #444444; }

/* line 348, ../sass/teachit-new-theme.styles.scss */
#contact-site-form label {
  margin-bottom: 5px; }

/* line 351, ../sass/teachit-new-theme.styles.scss */
.contact-info ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 356, ../sass/teachit-new-theme.styles.scss */
.contact-info ul li {
  list-style-type: none;
  line-height: 40px; }

/* line 361, ../sass/teachit-new-theme.styles.scss */
.contact-info ul li a {
  color: #666666;
  text-decoration: none; }
  /* line 364, ../sass/teachit-new-theme.styles.scss */
  .contact-info ul li a:hover {
    color: #444444; }

/* line 370, ../sass/teachit-new-theme.styles.scss */
.contact-info ul li span {
  color: #888; }

/* line 373, ../sass/teachit-new-theme.styles.scss */
.contact-info ul li i {
  width: 30px;
  text-align: center;
  margin-right: 20px; }

/* line 378, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-submit {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #333; }

/* line 395, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-type-textarea,
#contact-site-form--2 .form-type-textarea {
  clear: both; }

/* line 399, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-item-name,
#contact-site-form--2 .form-item-name {
  text-align: left; }

/* line 403, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-type-textfield,
#contact-site-form--2 .form-type-textfield {
  width: 33.3%;
  float: left; }

/* line 409, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-item-subject input,
#contact-site-form--2 .form-item-subject input {
  width: 95%; }

/* line 413, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-item-subject label,
#contact-site-form--2 .form-item-subject label {
  text-align: left; }

/* line 417, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-type-textfield input,
#contact-site-form--2 .form-type-textfield input {
  width: 90%; }

@media (max-width: 480px) {
  /* line 422, ../sass/teachit-new-theme.styles.scss */
  #contact-site-form .form-type-textfield,
  #contact-site-form--2 .form-type-textfield {
    width: 100%;
    float: left; }

  /* line 427, ../sass/teachit-new-theme.styles.scss */
  #contact-site-form .form-type-textfield input,
  #contact-site-form--2 .form-type-textfield input {
    width: 100%;
    height: 35px; } }
/* line 433, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-item-copy,
#contact-site-form--2 .form-item-copy {
  margin-bottom: 0; }

/* line 437, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-actions,
#contact-site-form--2 .form-actions {
  margin-top: 15px !important; }

/* line 441, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .grippie,
#contact-site-form--2 .grippie {
  display: none; }

/* line 445, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-type-textarea textarea,
#contact-site-form--2 .form-type-textarea textarea {
  height: 115px;
  min-height: 115px !important; }

/* line 450, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-required,
#contact-site-form--2 .form-required {
  display: none; }

/* line 454, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-item-copy input,
#contact-site-form--2 .form-item-copy input {
  margin-top: 0; }

/* line 458, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-item.form-type-textfield input,
#contact-site-form .form-item.form-type-textarea textarea,
#contact-site-form--2 .form-item.form-type-textfield input,
#contact-site-form--2 .form-item.form-type-textarea textarea {
  padding: 10px;
  font-size: 12px; }

/* line 465, ../sass/teachit-new-theme.styles.scss */
#contact-site-form .form-type-checkbox,
#contact-site-form--2 .form-type-checkbox {
  display: none; }

/* line 470, ../sass/teachit-new-theme.styles.scss */
select,
textarea,
input[type="text"],
input[type="password"] {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #555 !important;
  border-radius: 0;
  box-shadow: none;
  color: #999;
  display: inline-block;
  line-height: 25px;
  margin-bottom: 15px;
  padding: 10px;
  resize: none;
  transition: all 0.3s ease 0s;
  vertical-align: middle; }

/* line 490, ../sass/teachit-new-theme.styles.scss */
.l-end-page {
  background-color: #464646;
  padding: 30px 0 15px 0; }

/* line 494, ../sass/teachit-new-theme.styles.scss */
.l-end-page .region-copyright,
.l-end-page .region-copyright a {
  color: #CCC; }

/* line 498, ../sass/teachit-new-theme.styles.scss */
.l-end-page #block-menu-menu-footer-menu ul:not(.contextual-links) {
  list-style: none;
  text-align: center;
  margin-top: 10px;
  padding: 0; }

/* line 504, ../sass/teachit-new-theme.styles.scss */
.l-end-page #block-menu-menu-footer-menu ul:not(.contextual-links) li {
  list-style-type: none;
  display: inline-block;
  margin-right: 7px; }

/* line 509, ../sass/teachit-new-theme.styles.scss */
.l-end-page #block-menu-menu-footer-menu ul:not(.contextual-links) li a {
  color: #FFF;
  text-decoration: none;
  font-size: 14px; }

/* line 516, ../sass/teachit-new-theme.styles.scss */
.block--block-6 p {
  font-size: 14px;
  color: #d7d7d7;
  line-height: 20px;
  margin: 0;
  text-align: center; }

/* line 732, ../sass/teachit-new-theme.styles.scss */
.wrap-grid-content {
  *zoom: 1; }
  /* line 25, ../sass/variables/_grid.scss */
  .wrap-grid-content:before, .wrap-grid-content:after {
    content: " ";
    display: table; }
  /* line 30, ../sass/variables/_grid.scss */
  .wrap-grid-content:after {
    clear: both; }
  /* line 734, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content {
    position: relative;
    background-color: #000; }

/* line 740, ../sass/teachit-new-theme.styles.scss */
.mbYTP_wrapper .YTPOverlay {
  background-color: rgba(0, 0, 0, 0.4); }

/* line 744, ../sass/teachit-new-theme.styles.scss */
.bg-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 2; }

/* line 760, ../sass/teachit-new-theme.styles.scss */
.wrap-grid-content .content {
  width: 100%;
  height: 100%; }
  /* line 765, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content:hover .bg-img {
    opacity: 0.9; }
  /* line 770, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px #000;
    box-shadow: 0 1px 2px #000;
    overflow: hidden; }
  /* line 781, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content .overlay {
    width: 100%;
    height: 100%; }
    /* line 784, ../sass/teachit-new-theme.styles.scss */
    .wrap-grid-content .content .overlay .copy {
      position: absolute;
      bottom: 20px;
      margin-right: 25px;
      z-index: 4; }
      /* line 789, ../sass/teachit-new-theme.styles.scss */
      .wrap-grid-content .content .overlay .copy .title {
        float: left;
        clear: both;
        margin: 0;
        font-size: 15px; }
        /* line 794, ../sass/teachit-new-theme.styles.scss */
        .wrap-grid-content .content .overlay .copy .title a {
          display: block;
          float: left;
          padding: 9px 14px 12px 13px;
          text-decoration: none;
          color: #fff;
          background-color: #dc2828;
          background-color: rgba(220, 40, 40, 0.85); }
      /* line 805, ../sass/teachit-new-theme.styles.scss */
      .wrap-grid-content .content .overlay .copy .title:hover a {
        background-color: #dc2828; }
      /* line 808, ../sass/teachit-new-theme.styles.scss */
      .wrap-grid-content .content .overlay .copy .cta {
        float: left;
        clear: both;
        margin: 0;
        overflow: hidden;
        font-size: 11px;
        font-family: "SST W01 Bold", "SST W01", Helvetica, Arial, sans-serif;
        text-transform: uppercase; }
        /* line 816, ../sass/teachit-new-theme.styles.scss */
        .wrap-grid-content .content .overlay .copy .cta a {
          display: block;
          float: left;
          padding: 9px 14px 12px 13px;
          text-decoration: none;
          color: #222222;
          background-color: #ffffff;
          background-color: rgba(255, 255, 255, 0.9); }
      /* line 826, ../sass/teachit-new-theme.styles.scss */
      .wrap-grid-content .content .overlay .copy .cta:hover a {
        background-color: white; }
    /* line 831, ../sass/teachit-new-theme.styles.scss */
    .wrap-grid-content .content .overlay .source {
      position: absolute;
      top: 8px;
      right: 8px;
      margin: 0;
      z-index: 4; }
    /* line 839, ../sass/teachit-new-theme.styles.scss */
    .wrap-grid-content .content .overlay .play {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      margin: -25px 0 0 -25px;
      border-radius: 50%;
      background-color: #c0c0c0;
      background-color: rgba(192, 192, 192, 0.8);
      z-index: 4; }
    /* line 853, ../sass/teachit-new-theme.styles.scss */
    .wrap-grid-content .content .overlay .play {
      background-color: #dc2828;
      background-color: rgba(220, 40, 40, 0.8); }
    /* line 858, ../sass/teachit-new-theme.styles.scss */
    .wrap-grid-content .content .overlay .play a {
      width: 100%;
      height: 100%;
      background-image: url(/sites/default/files/arrow-play.svg);
      background-position: 22px center;
      background-repeat: no-repeat;
      -webkit-background-size: 12px 18px;
      background-size: 12px 18px;
      text-indent: -9999px;
      display: block;
      webkit-transition: background-color 0.25s linear,border-color 0.25s linear,opacity 0.25s linear,color 0.25s linear,fill 0.25s linear;
      transition: background-color 0.25s linear,border-color 0.25s linear,opacity 0.25s linear,color 0.25s linear,fill 0.25s linear;
      cursor: pointer; }
    /* line 873, ../sass/teachit-new-theme.styles.scss */
    .wrap-grid-content .content .overlay .play:hover {
      background-color: #dc3a3a;
      background-color: rgba(220, 40, 40, 0.99);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
  /* line 884, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100.5%;
    border: none;
    overflow: hidden;
    z-index: 1; }
  /* line 897, ../sass/teachit-new-theme.styles.scss */
  .wrap-grid-content .content iframe.active {
    z-index: 901; }

/*# sourceMappingURL=teachit-new-theme.no-query.css.map */
