// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";


body {
    padding: 0 $base_margin;
}
.l-branding {
    @include clearfix;
}

.wrapper, .row {
    @extend %clearfix;
}

.block--md-slider {
    margin-bottom: $base_margin;
}

.site-logo {
    @include grid-span(10, 2);
    padding: 10px;
    text-align: center;
}

.l-region--branding {
    @include grid-span(1, 1);
    margin-top: 40px;
}

.tb-megamenu .nav-collapse {
    width: 200px;
}

@include breakpoint($tab) {
    .l-page {
        width: $tab;
        margin: 0 auto;
    }

    .tb-megamenu .nav-collapse {
        width: 300px;
    }
}

@include breakpoint($des) {
    .l-page {
        width: $des;
        margin: 0 auto;
    }
    
    .site-logo {
        @include grid-span(3,1);
        padding: 10px;
    }

    .l-region--branding {
        @include grid-span(9,4);
        margin-top: 0;
    }

    .tb-megamenu {
        background-color: $base_color;
        .nav-collapse {
            width: 100%;
        }

        .nav {
            li.dropdown {
                > .dropdown-toggle {
                    .caret {
                        margin-top: 35px;
                        border-top-color: #666 !important;
                        border-bottom-color: #666 !important;
                    }
                }
            }

            li.dropdown.open {
                > .dropdown-toggle {
                    .caret {
                        margin-top: 35px;
                        border-top-color: #666 !important;
                        border-bottom-color: #666 !important;
                }
                }
            }
            > .active {
                float: right;
                > a {
                    background-color: $base_color !important;
                    color: $base_text_color !important;
                    text-decoration: none;
                    line-height: 77px;
                    font-size: 14px;
                    font-weight: 300;
                    border-right: none;
                    text-transform: uppercase;
                }

                a:hover {
                    background-color: $base_color;
                    color: $base_text_color;
                    text-decoration: none;
                }
                a:focus {
                    background-color: $base_color;
                    color: $base_text_color;
                    text-decoration: none;
                }
            }
        }

    }
    
    .play {
        -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    .play {
        width: 60px;
        height: 60px;
        margin-right: -30px;
        margin-left: -30px;
    }
    
    .grid-1 {
        @include grid-span(7,1);
        .wrap-content-1 {
            @include grid-span(12, 1);
            height: 400px;
            @include clearfix;
        }
        .wrap-content-2 {
            @include grid-span(6, 1);
        }
        .wrap-content-3 {
            @include grid-span(6, 7);
        }
        .content {
            position: relative;
        }
    }
    .grid-2 {
        @include grid-span(5,8);
    }
    
    
    
    .content .play a {
        -webkit-background-size: 14px 22px;
        background-size: 14px 22px;
        background-repeat: no-repeat;
    }
}

@include breakpoint($s-des) {
    .l-page {
        width: $s-des;
    }
}

.wrap-grid-content {
    @include clearfix;
}

.mbYTP_wrapper .YTPOverlay {
    background-color: rgba(0,0,0,0.4);
}

.bg-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
}



.wrap-grid-content {
    .content:hover {
            .bg-img {
                opacity: 0.9;
            }
    }
    .content {
        width: 100%;
        height: 100%;
        
        .overlay {
            width: 100%;
            height: 100%;
            .copy {
                position: absolute;
                bottom: 20px;
                margin-right: 25px;
                z-index: 4;
                .title {
                    float: left;
                    clear: both;
                    margin: 0;
                    font-size: 15px;
                    a {
                        display: block;
                        float: left;
                        padding: 9px 14px 12px 13px;
                        text-decoration: none;
                        color: #fff;
                        background-color: #dc2828;
                        background-color: rgba(220, 40, 40, 0.85);
                    }
                    
                }
                .title:hover a {
                    background-color: #dc2828; 
                }
                .cta {
                    float: left;
                    clear: both;
                    margin: 0;
                    overflow: hidden;
                    font-size: 11px;
                    font-family: "SST W01 Bold", "SST W01", Helvetica, Arial, sans-serif;
                    text-transform: uppercase;
                    a {
                        display: block;
                        float: left;
                        padding: 9px 14px 12px 13px;
                        text-decoration: none;
                        color: #222222;
                        background-color: #ffffff;
                        background-color: rgba(255, 255, 255, 0.9);
                    }
                }
                .cta:hover a {
                    background-color: white;
                }
            }
            
            .source {
                position: absolute;
                top: 8px;
                right: 8px;
                margin: 0;
                z-index: 4;
            }
            
            .play {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50px;
                height: 50px;
                margin: -25px 0 0 -25px;
                border-radius: 50%;
                background-color: #c0c0c0;
                background-color: rgba(192, 192, 192, 0.8);
                z-index: 4;
            }

            .play {
                background-color: #dc2828;
                background-color: rgba(220, 40, 40, 0.8);
            }

            .play a {
                width: 100%;
                height: 100%;
                background-image: url(/sites/default/files/arrow-play.svg);
                background-position: 22px center;
                -webkit-background-size: 12px 18px;
                background-size: 12px 18px;
                text-indent: -9999px;
                display: block;
                webkit-transition: background-color 0.25s linear,border-color 0.25s linear,opacity 0.25s linear,color 0.25s linear,fill 0.25s linear;
                transition: background-color 0.25s linear,border-color 0.25s linear,opacity 0.25s linear,color 0.25s linear,fill 0.25s linear;
                cursor: pointer;
            }

            .play:hover {
              background-color: #dc3a3a;
              background-color: rgba(220, 40, 40, 0.99);
              -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
              -webkit-transform: scale(1.05);
              -ms-transform: scale(1.05);
              transform: scale(1.05);
            }
        }
        
        iframe {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100.5%;
            border: none;
            overflow: hidden;
            z-index: 1;
        }
        
        iframe.active {
            z-index: 901;
        }
    }
}


#screen {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 900;
}