// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";


body {
    background-color: #333;
    font-size: $base_font_text;
    font-weight: 300;
    color: #888;
}

.l-branding {
    @include clearfix;
    background-color: #fff;
}

.breadcrumb {display: none;}

.wrapper, .row {
    @include clearfix();
}

.wrap-content {
    margin-bottom: $base_margin;
}

.wrap-grid-content .content .bg {
    border-radius: 0;
    .bg-img {
        border-radius: 0;
    }
}

.block--teachit-config-grid-content {
    margin-top: $base_margin;
}

.block--md-slider {
    margin-bottom: $base_margin;
}

.site-logo {
    @include grid-span(10, 2);
    padding: 10px;
    text-align: center;
}

.l-region--branding {
    @include grid-span(1, 1);
    margin-top: 40px;
}

.tb-megamenu .nav-collapse {
    width: 200px;
}

#block-block-3 {
    padding: 60px 0;
}

.l-footer {
    margin-bottom: $base_margin;
    .block--block-4 {
        padding: $base_padding;
    }

    .block--block-5 {
        padding: $base_padding;
    }

    .block--formblock-contact-site {
        padding: $base_padding;
    }
}

.tb-megamenu .nav-collapse .nav > li > a {
    text-decoration: none;
}

.tb-megamenu .nav-collapse .nav > li > a:hover {
    color: #fff;
}


#screen {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 900;
}

.l-content h1 {
    display: none;
}

.l-footer {
    background-color: #222;
    @include clearfix;
}

.l-end-page {
    background-color: #464646;
    padding: 30px 0 15px 0;
}



.dexp-social-icon {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  background: #999999;
  color: #888888;
  border: 0px;
  line-height: 40px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  display: inline-block;
  text-align: center;
}
.dexp-social-icon:hover i {
  color: #fff;
}
.dexp-social-icon.dexp-social-transparent {
  background: transparent;
  color: #444444;
  border: 1px solid #444444;
  width: 39px;
  height: 39px;
  line-height: 39px;
}
.dexp-social-icon.dexp-social-transparent:hover {
  background: #444444;
}
.dexp-social-icon.dexp-social-transparent:hover i {
  color: #ffffff;
}
.dexp-social-light,
.dexp-social-hover-light:hover {
  background: #dddddd;
}
.dexp-social-light i,
.dexp-social-hover-light:hover i {
  color: #999999;
}
.dexp-social-dark,
.dexp-social-hover-dark:hover {
  background: #999999;
}
.dexp-social-dark i,
.dexp-social-hover-dark:hover i {
  color: #ffffff;
}
.dexp-social-twitter,
.dexp-social-hover-twitter:hover {
  background: #54afe2;
}
.dexp-social-twitter i,
.dexp-social-hover-twitter:hover i {
  color: #ffffff;
}
.dexp-social-facebook,
.dexp-social-hover-facebook:hover {
  background: #4671ad;
}
.dexp-social-facebook i,
.dexp-social-hover-facebook:hover i {
  color: #ffffff;
}
.dexp-social-linkedin,
.dexp-social-hover-linkedin:hover {
  background: #64abcc;
}
.dexp-social-linkedin i,
.dexp-social-hover-linkedin:hover i {
  color: #ffffff;
}
.dexp-social-google,
.dexpoe-social-hover-google:hover {
  background: #dc4a38;
}
.dexp-social-google i,
.dexpoe-social-hover-google:hover i {
  color: #ffffff;
}
.dexp-social-dribbble,
.dexp-social-hover-dribbble:hover {
  background: #d64d74;
}
.dexp-social-dribbble i,
.dexp-social-hover-dribbble:hover i {
  color: #ffffff;
}
.dexp-social-skype,
.dexp-social-hover-skype:hover {
  background: #00c6ff;
}
.dexp-social-skype i,
.dexp-social-hover-skype:hover i {
  color: #ffffff;
}
.dexp-social-behance,
.dexp-social-hover-behance:hover {
  background: #0099fd;
}
.dexp-social-behance i,
.dexp-social-hover-behance:hover i {
  color: #ffffff;
}
.dexp-social-deviantart,
.dexp-social-hover-deviantart:hover {
  background: #c7d419;
}
.dexp-social-deviantart i,
.dexp-social-hover-deviantart:hover i {
  color: #ffffff;
}
.dexp-social-tumblr,
.dexp-social-hover-tumblr:hover {
  background: #385874;
}
.dexp-social-tumblr i,
.dexp-social-hover-tumblr:hover i {
  color: #ffffff;
}
.dexp-social-rss,
.dexp-social-hover-rss:hover {
  background: #fe9900;
}
.dexp-social-rss i,
.dexp-social-hover-rss:hover i {
  color: #ffffff;
}
.dexp-social-vimeo,
.dexp-social-hover-vimeo:hover {
  background: #a6caea;
}
.dexp-social-vimeo i,
.dexp-social-hover-vimeo:hover i {
  color: #ffffff;
}
.dexp-social-pinterest,
.dexp-social-hover-pinterest:hover {
  background: #ce2027;
}
.dexp-social-pinterest i,
.dexp-social-hover-pinterest:hover i {
  color: #ffffff;
}
.dexp-social-flickr,
.dexp-social-hover-flickr:hover {
  background: #f4789b;
}
.dexp-social-flickr i,
.dexp-social-hover-flickr:hover i {
  color: #ffffff;
}
.dexp-social-youtube,
.dexp-social-hover-youtube:hover {
  background: #e70031;
}
.dexp-social-youtube i,
.dexp-social-hover-youtube:hover i {
  color: #ffffff;
}
.dexp-social-instagram,
.dexp-social-hover-instagram:hover {
  background: #2c6a91;
}
.dexp-social-instagram i,
.dexp-social-hover-instagram:hover i {
  color: #ffffff;
}
.dexp-social-apple,
.dexp-social-hover-apple:hover {
  background: #5f5f5f;
}
.dexp-social-apple i,
.dexp-social-hover-apple:hover i {
  color: #ffffff;
}
.dexp-reflect .dexp-social-transparent,
.dexp-reflect-bg .dexp-social-transparent {
  background: transparent;
  border: 1px solid #ffffff;
}
.dexp-reflect .dexp-social-transparent i,
.dexp-reflect-bg .dexp-social-transparent i {
  color: #ffffff;
}
.dexp-reflect .dexp-social-transparent:hover,
.dexp-reflect-bg .dexp-social-transparent:hover {
  background: #ffffff;
}
.dexp-reflect .dexp-social-transparent:hover i,
.dexp-reflect-bg .dexp-social-transparent:hover i {
  color: #444444;
}
.dexp-social-group-nospace .dexp-social {
  margin-right: -4px;
}
.oe-social-group-smallspace .dexp-social {
  margin-right: -3px;
}
.dexp-social-group-largespace .dexp-social {
  margin-right: 8px;
}
div[class*="preset-dark"] {
  background-color: #444444;
  color: #cccccc;
  text-shadow: 0 0 0 rgba(204,204,204,0.1);
  padding: 50px 0;
}
.dexp-social-dark-bg {
  background: transparent;
  border: 1px solid #555;
}
.dexp-social-dark-bg i {
  color: #ffffff;
}
.dexp-social-dark-bg:hover {
  background: #ffffff;
}
.dexp-social-dark-bg:hover i {
  color: #444444;
}

#contact-site-form label{
    margin-bottom: 5px;
}
.contact-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-info ul li {
  list-style-type: none;
  line-height: 40px;
}

.contact-info ul li a {
    color: #666666;
    text-decoration: none;
    &:hover {
        color: #444444;
    }
}


.contact-info ul li span {
  color: #888;
}
.contact-info ul li i {
  width: 30px;
  text-align: center;
  margin-right: 20px;
}
#contact-site-form .form-submit {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #333;
}
#contact-site-form .form-type-textarea,
#contact-site-form--2 .form-type-textarea {
  clear: both;
}
#contact-site-form .form-item-name,
#contact-site-form--2 .form-item-name {
  text-align: left;
}
#contact-site-form .form-type-textfield,
#contact-site-form--2 .form-type-textfield {
  width: 33.3%;
  float: left;
}

#contact-site-form .form-item-subject input,
#contact-site-form--2 .form-item-subject input {
  width: 95%;
}
#contact-site-form .form-item-subject label,
#contact-site-form--2 .form-item-subject label {
  text-align: left;
}
#contact-site-form .form-type-textfield input,
#contact-site-form--2 .form-type-textfield input {
  width: 90%;
}
@media (max-width: 480px) {
  #contact-site-form .form-type-textfield,
  #contact-site-form--2 .form-type-textfield {
    width: 100%;
    float: left;
  }
  #contact-site-form .form-type-textfield input,
  #contact-site-form--2 .form-type-textfield input {
    width: 100%;
    height: 35px;
  }
}
#contact-site-form .form-item-copy,
#contact-site-form--2 .form-item-copy {
  margin-bottom: 0;
}
#contact-site-form .form-actions,
#contact-site-form--2 .form-actions {
  margin-top: 15px !important;
}
#contact-site-form .grippie,
#contact-site-form--2 .grippie {
  display: none;
}
#contact-site-form .form-type-textarea textarea,
#contact-site-form--2 .form-type-textarea textarea {
  height: 115px;
  min-height: 115px !important;
}
#contact-site-form .form-required,
#contact-site-form--2 .form-required {
  display: none;
}
#contact-site-form .form-item-copy input,
#contact-site-form--2 .form-item-copy input {
  margin-top: 0;
}
#contact-site-form .form-item.form-type-textfield input,
#contact-site-form .form-item.form-type-textarea textarea,
#contact-site-form--2 .form-item.form-type-textfield input,
#contact-site-form--2 .form-item.form-type-textarea textarea {
  padding: 10px;
  font-size: 12px;
}
#contact-site-form .form-type-checkbox,
#contact-site-form--2 .form-type-checkbox {
  display: none;
}

select,
textarea,
input[type="text"],
input[type="password"] {
  background: none repeat scroll 0 0 rgba(0,0,0,0);
  border: 1px solid #555 !important;
  border-radius: 0;
  box-shadow: none;
  color: #999;
  display: inline-block;
  line-height: 25px;
  margin-bottom: 15px;
  padding: 10px;
  resize: none;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
}



.l-end-page {
  background-color: #464646;
  padding: 30px 0 15px 0;
}
.l-end-page .region-copyright,
.l-end-page .region-copyright a {
  color: #CCC;
}
.l-end-page #block-menu-menu-footer-menu ul:not(.contextual-links) {
  list-style: none;
  text-align: center;
  margin-top: 10px;
  padding: 0;
}
.l-end-page #block-menu-menu-footer-menu ul:not(.contextual-links) li {
  list-style-type: none;
  display: inline-block;
  margin-right: 7px;
}
.l-end-page #block-menu-menu-footer-menu ul:not(.contextual-links) li a {
  color: #FFF;
  text-decoration: none;
  font-size: 14px;
}


.block--block-6 p{
    font-size: 14px;
    color: #d7d7d7;
    line-height: 20px;
    margin: 0;
    text-align: center;
}

@include breakpoint($tab) {
    .l-page {
        width: $tab;
        margin: 0 auto;
    }

    .tb-megamenu .nav-collapse {
        width: 300px;
    }
    
    #block-block-3 {
        padding: 200px 0;
    }
}

@include breakpoint($des) {
    .l-page {
        width: $des;
        margin: 0 auto;
    }
    
    .block--md-slider {
        margin-bottom: $base_margin_des;
    }
    
    .block--teachit-config-grid-content {
        margin-top: $base_margin_des;
    }
    
    .block--block-6 p {
        text-align: left;
    }
    
    .l-end-page #block-menu-menu-footer-menu ul:not(.contextual-links) {
        text-align: right;
    }
    
    .site-logo {
        @include grid-span(3,1);
        padding: 10px;
    }

    .l-region--branding {
        @include grid-span(9,4);
        margin-top: 0;
    }

    .tb-megamenu {
        background-color: $base_color;
        .nav-collapse {
            width: 100%;
        }

        .nav {
            float: right;
            li.dropdown {
                > .dropdown-toggle {
                    .caret {
                        margin-top: 35px;
                        border-top-color: #666 !important;
                        border-bottom-color: #666 !important;
                    }
                }
            }

            li.dropdown.open {
                > .dropdown-toggle {
                    .caret {
                        margin-top: 35px;
                        border-top-color: #666 !important;
                        border-bottom-color: #666 !important;
                }
                }
            }
            > .tb-megamenu-item {
                > a {
                    background-color: $base_color !important;
                    color: $base_text_color !important;
                    text-decoration: none;
                    line-height: 77px;
                    font-size: 14px;
                    font-weight: 300;
                    border-right: none;
                    text-transform: uppercase;
                }

                a:hover {
                    background-color: $base_color;
                    color: $base_text_color;
                    text-decoration: none;
                }
                a:focus {
                    background-color: $base_color;
                    color: $base_text_color;
                    text-decoration: none;
                }
            }
        }

    }
    
    .play {
        -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    .play {
        width: 60px;
        height: 60px;
        margin-right: -30px;
        margin-left: -30px;
    }
    
    @include add-gutter(4px);
    .grid-1 {
        @include grid-span(8,1);
        
        .wrap-content-1 {
            @include grid-span(12, 1);
            margin-bottom: 4px;
            @include clearfix;
        }
        .wrap-content-2 {
            @include grid-span(8, 1);
        }
        .wrap-content-3 {
            @include grid-span(4, 9);
        }
        
    }
    .grid-2 {
        @include grid-span(4,9);
        .wrap-content-4 {
            @include grid-span(6, 1);
        }
        .wrap-content-5 {
            @include grid-span(6, 7);
        }
        .wrap-content-6 {
            margin-top: 4px;    
            @include grid-span(12, 1);
        }
    }
    
    .wrap-content {
        margin-bottom: 0;
    }
    
    
    .content .play a {
        -webkit-background-size: 14px 22px;
        background-size: 14px 22px;
        
    }
    
    .l-footer {
        margin-bottom: 0;
        margin-top: $base_margin_des;
        .block--block-4 {
            @include grid-span(3, 1);
            padding: $base_padding_des;
        }
        
        .block--block-5 {
            @include grid-span(3, 4);
            padding: $base_padding_des;
        }
        
        .block--formblock-contact-site {
            @include grid-span(6, 7);
            padding: $base_padding_des;
        }
        
        .block-title {
            color: #FFF;
            font-size: 1.4em;
            margin: 15px 0;
            padding: 10px 0;
            font-weight: 500;
        }
        
    }
    
    .block--block-6 {
        @include grid-span(6, 1);
        padding: 0 $base_padding_des;
    }
    
    .block--menu-menu-footer-menu {
        @include grid-span(6, 7);
        padding: 0 $base_padding_des;
    }
    .l-region--footer-end {
        @include clearfix;
    }
    
    #block-block-3 {
        padding: 250px 0;
    }
}

@include breakpoint($s-des) {
    .l-page {
        width: $s-des;
        margin: 0 auto;
    }
}

.wrap-grid-content {
    @include clearfix;
    .content {
        position: relative;
        background-color: #000;
    }
}

.mbYTP_wrapper .YTPOverlay {
    background-color: rgba(0,0,0,0.4);
}

.bg-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
}



.wrap-grid-content {
    .content {
        width: 100%;
        height: 100%;
        
        &:hover {
            .bg-img {
                opacity: 0.9;
            }
        }   
        
        .bg {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 2px;
            -webkit-box-shadow: 0 1px 2px #000;
            box-shadow: 0 1px 2px #000;
            overflow: hidden;
            
        }
        .overlay {
            width: 100%;
            height: 100%;
            .copy {
                position: absolute;
                bottom: 20px;
                margin-right: 25px;
                z-index: 4;
                .title {
                    float: left;
                    clear: both;
                    margin: 0;
                    font-size: 15px;
                    a {
                        display: block;
                        float: left;
                        padding: 9px 14px 12px 13px;
                        text-decoration: none;
                        color: #fff;
                        background-color: #dc2828;
                        background-color: rgba(220, 40, 40, 0.85);
                    }
                    
                }
                .title:hover a {
                    background-color: #dc2828; 
                }
                .cta {
                    float: left;
                    clear: both;
                    margin: 0;
                    overflow: hidden;
                    font-size: 11px;
                    font-family: "SST W01 Bold", "SST W01", Helvetica, Arial, sans-serif;
                    text-transform: uppercase;
                    a {
                        display: block;
                        float: left;
                        padding: 9px 14px 12px 13px;
                        text-decoration: none;
                        color: #222222;
                        background-color: #ffffff;
                        background-color: rgba(255, 255, 255, 0.9);
                    }
                }
                .cta:hover a {
                    background-color: white;
                }
            }
            
            .source {
                position: absolute;
                top: 8px;
                right: 8px;
                margin: 0;
                z-index: 4;
            }
            
            .play {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50px;
                height: 50px;
                margin: -25px 0 0 -25px;
                border-radius: 50%;
                background-color: #c0c0c0;
                background-color: rgba(192, 192, 192, 0.8);
                z-index: 4;
            }

            .play {
                background-color: #dc2828;
                background-color: rgba(220, 40, 40, 0.8);
            }

            .play a {
                width: 100%;
                height: 100%;
                background-image: url(/sites/default/files/arrow-play.svg);
                background-position: 22px center;
                background-repeat: no-repeat;
                -webkit-background-size: 12px 18px;
                background-size: 12px 18px;
                text-indent: -9999px;
                display: block;
                webkit-transition: background-color 0.25s linear,border-color 0.25s linear,opacity 0.25s linear,color 0.25s linear,fill 0.25s linear;
                transition: background-color 0.25s linear,border-color 0.25s linear,opacity 0.25s linear,color 0.25s linear,fill 0.25s linear;
                cursor: pointer;
            }

            .play:hover {
              background-color: #dc3a3a;
              background-color: rgba(220, 40, 40, 0.99);
              -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
              -webkit-transform: scale(1.05);
              -ms-transform: scale(1.05);
              transform: scale(1.05);
            }
        }
        
        iframe {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100.5%;
            border: none;
            overflow: hidden;
            z-index: 1;
        }
        
        iframe.active {
            z-index: 901;
        }
    }
}
