// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";


body {
    padding: 0 $base_margin;
}
.l-branding {
    @include clearfix;
}

.block--md-slider {
    margin-bottom: $base_margin;
}

.site-logo {
    @include grid-span(10, 2);
    padding: 10px;
    text-align: center;
}

.l-region--branding {
    @include grid-span(1, 1);
    margin-top: 40px;
}

.tb-megamenu .nav-collapse {
    width: 200px;
}

@include breakpoint($tab) {
    .l-page {
        width: $tab;
        margin: 0 auto;
    }

    .tb-megamenu .nav-collapse {
        width: 300px;
    }
}

@include breakpoint($des) {
    .l-page {
        width: $des;
        margin: 0 auto;
    }
    
    .site-logo {
        @include grid-span(3,1);
        padding: 10px;
    }

    .l-region--branding {
        @include grid-span(9,4);
        margin-top: 0;
    }

    .tb-megamenu {
        background-color: $base_color;
        .nav-collapse {
            width: 100%;
        }

        .nav {
            li.dropdown {
                > .dropdown-toggle {
                    .caret {
                        margin-top: 35px;
                        border-top-color: #666 !important;
                        border-bottom-color: #666 !important;
                    }
                }
            }

            li.dropdown.open {
                > .dropdown-toggle {
                    .caret {
                        margin-top: 35px;
                        border-top-color: #666 !important;
                        border-bottom-color: #666 !important;
                }
                }
            }
            > .active {
                float: right;
                > a {
                    background-color: $base_color !important;
                    color: $base_text_color !important;
                    text-decoration: none;
                    line-height: 77px;
                    font-size: 14px;
                    font-weight: 300;
                    border-right: none;
                    text-transform: uppercase;
                }

                a:hover {
                    background-color: $base_color;
                    color: $base_text_color;
                    text-decoration: none;
                }
                a:focus {
                    background-color: $base_color;
                    color: $base_text_color;
                    text-decoration: none;
                }
            }
        }

    }
    
    .grid-1 {
        @include grid-span(7,1);
        .wrap-content-1 {
            @include grid-span(12, 1);
            height: 400px;
        }
        .wrap-content-2 {
            @include grid-span(6, 1);
        }
        .wrap-content-3 {
            @include grid-span(6, 7);
        }
        > div {
            position: relative;
        }
    }
    .grid-2 {
        @include grid-span(5,8);
    }
    
    .bg-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        border-radius: 2px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: 2;
    }
    
}

@include breakpoint($s-des) {
    .l-page {
        width: $s-des;
    }
}

.wrap-grid-content {
    @include clearfix;
}

.mbYTP_wrapper .YTPOverlay {
    background-color: rgba(0,0,0,0.4);
}
